.card {
    border: 2px solid black;
    margin: 0.5rem;
}

.card a {
    color: #6c757d;
    font-size: 1rem;
    text-decoration: none;
}

.card a:hover{
    color: #ce8b10;
    text-decoration: none;
}

.beer-label {
    object-fit: contain;
}

.card-btns {
    text-align: center;
}

.card-btn {
    padding: 0 1rem;
    text-decoration: none;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    font-size: 2rem;
}

.card-btn:hover {
    cursor: pointer;
    text-shadow: 3px 3px 6px #ce8b10;
}

.card-btn:focus {
    outline: 0;
}
