.card {
    border: 2px solid black;
    margin: 0.5rem;
}

.card a {
    color: #6c757d;
    font-size: 1rem;
    text-decoration: none;
}

.card a:hover{
    color: #ce8b10;
    text-decoration: none;
}
