.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote, .narrative {
    justify-self: center;
    align-self: center;
}

.narrative {
    padding: 1rem;
}