.lists-container{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lists-title{
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
}

.lists-options {
    display: flex;
    align-self: center;
}

.lists-options .list-link {
    margin: 0 0.5rem;
    color: inherit;
    background-color:rgba(255, 255, 255, 1);
    border: none;
}

.lists-options .list-link:hover {
    color: #ce8b10;
    text-decoration: none;
    cursor: pointer;
}

.list-link:focus {
    color: #ce8b10;
    outline: 0;
}

.no-beers {
    padding: 2rem;
}