td a {
    color: inherit;
}

td a:hover {
    color: #ce8b10;
    text-decoration: none;
    cursor: pointer;
}

td a:focus {
    color: #ce8b10;
    outline: 0;
}

.trash-btn {
    text-decoration: none;
    border: none;
    background: none;
    opacity: 1;
}

.trash-btn:hover {
    color: #ce8b10;
    text-decoration: none;
    cursor: pointer;
}

.trash-btn:focus {
    color: #ce8b10;
    outline: 0;
}