.table-title {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.table, table {
    box-shadow: 0.25rem 0.25rem 1rem #ececec;
    table-layout: fixed;
    overflow: scroll;
}
