.search-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.search-title {
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
}

.search-options {
    display: flex;
    align-self: center;
}

.search-options .search-btn {
    margin: 0 0.5rem;
    color: inherit;
    background-color:rgba(255, 255, 255, 1);
    border: none;
}

.search-options .search-btn:hover {
    color: #ce8b10;
    text-decoration: none;
    cursor: pointer;
}

.search-btn:focus {
    color: #ce8b10;
    outline: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 3rem;
}

.error-nav-link {
    color: inherit;
    font-weight: bolder;
}

.error-nav-link:hover {
    color: #ce8b10;
    text-decoration: none;
    cursor: pointer;
}