blockquote {
    background: #f9f9f9;
    border-left: 1rem solid #ccc;
    margin: 1.5rem 0.75rem;
    padding: 0.5rem 0.75rem;
    text-align: right;
    font-size: 2.5rem;
    font-family: Stencil Std, fantasy;
}
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 6rem;
    line-height: 0.1rem;
    margin-right: 0.25rem;
    vertical-align: -1.5rem;
}

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 6rem;
    line-height: 0.1rem;
    margin-right: 0.25rem;
    vertical-align: -1.5rem;
}
