.search-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.search-title {
    padding: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    align-self: center;
}

.search-options {
    display: flex;
    align-self: center;
}

.search-options .search-link {
    margin: 0 0.5rem;
    color: inherit;
}

.search-options .search-link:hover {
    color: #ce8b10;
    text-decoration: none;
}